.detail-box {width: 452px;float: left;padding: 9px;background-color: #646464;color: #FFF;}
.detailbox-model-name {height: 38px;background-color: #333}
body,label,input,h1,h2,h3,h4,h5,h6,p,table,form,select,input,textarea,ul,li{font: normal 14px/23px Arial, sans-serif;list-style: none;}
.detail-content {background-color: #FFF;padding: 20px;color: #333;}
.btnWrap {background: url("../resource/gray_button_right.png") no-repeat scroll 0 0 transparent;height: 24px;padding-left: 3px;position: relative;margin-right: 6px;}
.btnbgRightpopup{background: url(../resource/button_right_bgr.png) no-repeat scroll right 0 transparent;float: left;height: 24px;}
#error_variant_msg{font: normal 13px/0px Arial, sans-serif;}
.top-bar.black.quote-box p{background-color: #403838;color: #f9eeee;font-weight: bold;padding: 1px 100px;position: absolute;right: 10px;top: 0px;}
#viewProfile {border: 2px solid #988b8b;padding: 6px 3px 15px;width: 980px;}
.left-row {width: 320px;float: left;}
.right-row {width: 260px;float: right;}
.left-row label{font:normal 14px/26px Arial, sans-serif;}
.right-row label{font:normal 14px/26px Arial, sans-serif;}
h1.page-title {background:url("../resource/dotted-line.jpg") repeat-x scroll center bottom transparent;color: white;font-size: 24px;font-weight: bold;padding-bottom: 8px; padding:0px 585px 0px;}
.top-bar.graish {background: #373437 url(../resource/topbar-bg-black.jpg) repeat-x top;}
.top-bar h1.gray,.top-bar h2.gray {font-size: 14px;font-weight: bold;line-height: 42px;padding-left: 15px;text-transform: uppercase;color: #E9E9E9;}
#left-column p {padding: 15px;font-size: 12px;}
#left-content {color: #E9E9E9;}
#content {float: left;width: 924px;padding: 18px 0;position: relative;}
.two-column #left-column {float: left;width: 216px;}
.two-column #right-column {float: right;width: 684px;background-color: #fff;height: auto;}
.heading-Profile{background: #373437 url(../resource/topbar-bg-black.jpg) repeat-x top;}
.right-align{float: right;padding: 10px 0; text-align: right; width: 400px;}
.right-btn{padding-right: 10px;float: right;}
.left-btn{width: 96px; float: right; margin-right: 5px;}
.btnWrap {background: url("../resource/button_left_curve.png") no-repeat scroll 0 0 transparent;height: 24px;padding-left: 3px;position: relative;margin-right: 6px;}
a.button {background: url("../resource/button_right_bg.png") no-repeat scroll right top transparent;color: #fff;display: block;float: left;font: 10px arial, sans-serif;height: 24px;margin-right: 6px;padding-right: 4px;text-decoration: none;text-transform: uppercase;border: 0 none;}
.btnbgRight{background: url("../resource/button_right_bgr.png") no-repeat scroll right 0 transparent;float: left;height: 24px;}
.btnWrap span.btnTxt {color: #FFFFFF;cursor: pointer;float: left;padding: 0 9px 0 4px;text-transform: uppercase;font-weight: normal;font-size: 10px;text-align: center;}
.btnWrap,.btnbgRight,.btnTxt {display: inline-block;float: left;}
a.button span {background: url("../resource/button_left_bg.png") no-repeat scroll 0 0 transparent;display: block;line-height: 14px;padding: 5px 4px 5px 12px;}
.heading{font-family: sans-serif;font-style: normal;font-weight: bold;}
.two-column #left-column {float: left;width: 216px;}
.top-bar.black {background: #fff url(../backgroundWall/topbar-bg-black.jpg) repeat-x top;}
.top-bar h1.gray,.top-bar h2.gray {font-size: 14px;font-weight: bold;line-height: 42px;padding-left: 15px;text-transform: uppercase;color: #E9E9E9;}
.two-column #right-column {float: right;width: 684px;background-color: #fff;}
#contentDiv {float: left;width: 924px;padding: 4px 0;position: fixed;}
body,label,input,h1,h2,h3,h4,h5,h6,p,table,select,input,textarea,ul,li {font: normal 13px/23px Arial, sans-serif;margin: 0;padding: 0;list-style: none;}
.page-title-main {background:url("../backgroundWall/main_menu_bgr_nor.jpg") repeat-x scroll center bottom transparent;color: white;font-size: 20px;font-weight: bold;padding-bottom: 8px;padding: 4px 551px 0px;}
.backgroundReport{background: url(../backgroundWall/left_image_welcome.jpg) no-repeat top; height: 450px}
ul#navlist {margin: 2px;padding: 0;list-style-type: none;width: 212px;}
ul#navlist a {color: #666;font-weight: bold;display: block;width: 100%;background: url(../backgroundWall/left-nav-bg.jpg) repeat-x;text-decoration: none;padding: 6px 10px 7px 20px;}
.empl-details{border-bottom: 1px solid #E9E9E9;
    color: #8a8785;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 24px;}